.Log_sign{
    display: flex;
    gap: 28px;
    font-size: 20px;
    color: black;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar_right{
    display: flex;
    gap: 40px
}
.background{
    background: url(/Rentweb/mainPage.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    min-height: 60vh;  
}
.rent_car{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    color: yellow;
}
/* .overlay{
    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.9) 0%,
        rgba(0,0,0,0.5) 50%,
        rgba(0,0,0,0.9) 85%
    );
    width: 100%;
    min-height: 60vh;
    position: absolute;
    top: 0;
    left: 0;
} */
.check_section{
    display: flex;
    justify-content: center;
    gap : 45px;
    padding-right: 38%;
    padding-top: 1%;
    font-size: 22px;
    color: black;
    font-weight: 400;
}

.search_section{
    padding-top: 2%;
    width: 80%;
    border-radius: 5px;
    padding-left: 165px;
}

